@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>iLead</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/QRCode/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/QRCode/assets/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap" rel="stylesheet">
</head>
<body>

    <section>
        <div class="container success">

            <img src="assets/imgs/Success.png" style="margin-top: 50px">

            <div class="plate-number-hdr">
                <h4>Your Payment Has Been Processed Successfully</h4>
                <h4 class="arabic">تم الدفع بنجاح</h4>
            </div>

            <div style="text-align: center; margin-top: 20px;" class="counter-time">
                <p id="countdown" class="center">
                </p>
            </div>

            <div class="leaving" style="text-align: center">
                <h4>
                    Remaining Time to Leave
                </h4>
                <h4 class="leave-arabic">
                    الزمن المتبقى للمغادرة
                </h4>
            </div>


        </div>
    </section>
    <script src="~/QRCode/assets/js/jquery.js"></script>
    <script src="~/QRCode/assets/js/bootstrap.min.js"></script>
    <script src="~/QRCode/assets/js/script.js"></script>
</body>
</html>